body{
    margin: 0;
}
.sidenav{
    width: 8%;
    top: 0;
    height: 100vh;
    background-color: brown;
    text-align: center;
    padding-top: 1%;
    transition: width 0.4s;
}


.ham{
    background-color: transparent;
    border: 0;
    color:#fff;
    font-size: 22px;
    cursor: pointer;
    margin-top: 20px;
}
.ham:focus{
    outline: none;
}
.nav-ul{
    display: none;
}
li{
    list-style-type: none;
    margin-top: 1%;
}
a{
    color: #fff;
    text-decoration: none;
}
.nav-ul.show{
    display: block;
    font-size: 1.9rem;
}

.showNav{
    width: 15%;
    text-align: center;
    transition: width 0.4s;
    margin-right: 60px;
    
}
.showNav li, .showNav a{
    font-size: 1.5rem;
    font-weight: 900;
    font-family: Georgia;
    margin-top: 8vh;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  html {
    font-family: "Montserrat", sans-serif;
  }
 
  
  header {
    background-color: brown;
    
    padding: 16px 32px;
  
  }
  
  header h1 {
    color: #fff;
    font-family: "McLaren", cursive;
    font-weight: 200;
    margin-left: 2vw;
  }
  
  footer {
    position: fixed;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
  }
  
  footer p {
    color: #ccc;
  }
  .note {
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    padding: 10px;
    width: 240px;
    margin: 16px;
    margin-left: 35%;
    float: left;
    bottom: 60vh;
    position: relative;
  }
  .note h1 {
    font-size: 1.1em;
    margin-bottom: 6px;
  }
  .note p {
    font-size: 1.1em;
    margin-bottom: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
  
  /* #delete{
    position: relative;
    float: right;
    margin-right: 10px;
    color: brown;
    border: none;
    width: 36px;
    height: 36px;
    cursor: pointer;
    outline: none;
  } */
 
  /* #edit{
    position: relative;
    float: left;
    margin-right: 10px;
    color: brown;
    border: none;
    width: 36px;
    height: 36px;
    cursor: pointer;
    outline: none;
  } */
  form {
    position: absolute;
    top: 20vh;
    left: 25%;
    width: 480px;
    margin: 30px auto 20px auto;
    background: #fff;
    padding: 15px;
    border-radius: 7px;
    box-shadow: 0 1px 5px rgb(138, 137, 137);
  }
  form input,
  form textarea {
    width: 100%;
    border: none;
    padding: 4px;
    outline: none;
    font-size: 1.2em;
    font-family: inherit;
    resize: none;
  }
 
  
  header{
    
    width: 100%;
    top: 0;
  }

.modal-bg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    /* visibility: hidden;
    opacity: 0; */
    transition: visibility 0s opacity 0.5s;
}
.bg-active{
    visibility: visible;
    opacity: 1;
}

.modal{
    background-color: white;
    width: 30%;
    height: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.modal button{
    padding: 10px 30px;
    background-color: #2980b9;
    color: white;
    border:none;
    cursor: pointer;

}
.modal-close{
    position: absolute;
    top: 10px;
    right: 15px;
    font-weight: 700;
    cursor: pointer;
}
